* {
    align-items: center;
}

body {
    font: 71%/1.5 Verdana, Sans-Serif;
    background: rgb(57, 57, 57);
}

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboard-cont div {
    display: flex;
}

.second-row {
    margin: 0.5rem 0;
}

.letter {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    background: rgb(83, 82, 82);
    border: 1px solid #f9f9f9;
    border-radius: 5px;
}

#keyboard-cont button:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
    background: rgb(56, 56, 56);
}

/* .keyboard-center {
    align-items: center;
    align-self: center;
    align-content: center;
  }
  
  #container {
    margin: 40px auto;
    width: 688px;
    width: 40%;
  } */

#write {
    margin: 0 0 5px;
    padding: 5px;
    width: 100px;
    height: 20px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    text-transform: uppercase;
}

/* #keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
  } */

/* #keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgb(28, 27, 27);
    border: 1px solid #f9f9f9;
    border-radius: 5px;
  } */

/* #keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
  } */

@media only screen and (max-width: 768px) {
    #keyboard-cont {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #keyboard-cont div {
        display: flex;
    }

    .second-row {
        margin: 0.4rem 0;
    }

    .letter {
        font-size: 0.7rem;
        font-weight: 400;
        padding: 0.45rem;
        margin: 0 2px;
        cursor: pointer;
        text-transform: uppercase;
        color: white;
        background: rgb(83, 82, 82);
        border: 1px solid #f9f9f9;
        border-radius: 2px;
    }

    #keyboard-cont button:hover {
        position: relative;
        top: 1px;
        left: 1px;
        border-color: #e5e5e5;
        cursor: pointer;
        background: rgb(56, 56, 56);
    }
}